*{

color:black;

}
a:hover{
cursor: pointer;
}

#top{
background-color: $green;
width:auto;
padding:7px;
font-size:16pt;
text-align:center;
margin-bottom:20px;
height: auto;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.sidebar ul li a{
    text-decoration: none;
}


ul li{
list-style: none;

}

#text{
 color:green;
margin-top: 100px;
font-weight: bolder;
font-size: 40pt;
}


.button{
border-radius:4px;
border-color: $blue;
color:blue;
}

.sidebar{
    margin-bottom: 50px;

}
.sidebar ul li a{
    font-size: large;
    padding:20px;
    font-weight: bold;
    height: auto;
    margin-left: -40px;

}
.sidebar ul hr{
    margin-left: -40px;
}
.sidebar ul li a:hover {
background-color: $cyan;
color:white;
}


#create{
    margin-top:40px;
    margin-bottom: 30px;
}

.her{
    padding:5px;
    margin:10px;

}
 .ck-editor__editable_inline{
     min-height:280px;
 }


.her:hover{
cursor: pointer;
}

.category{
    background-color:grey;
    width: auto;
    padding:8px;
    border-radius:0px 20px 20px  0px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-right-style:solid;
    border-right-width:8px;
    border-right-color: rgba(15, 136, 15, 0.876);


}
.list-card{
    margin-bottom:20px;
    height: auto;
}

.paragraph{

   word-wrap: break-word;
   padding:7px;
   margin:10px 10px 30px 30px ;

}

.answer{
    margin-top:30px;
    padding:0px;
}
.nofound{

    color:red;
    padding:7px;

}
.found{
    color:green;
    padding:7px;
}

.list li{
    display:inline;
    font-size:11pt;
    padding:3px;
    margin-left: 30px;

}

.alter{
    margin-top:100px;
    color:gray;
}
.her{
display:none;

}

@media screen and (max-width:767px){
    .her{
        display:initial;
        }
        .sidebar{
            display: none;
        }

}
